/*reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*root-palette*/

:root {
    --orange-nav: #ff6900;
    --black-footer: #1a1a1a;
    --white-font: #fbfbfb;
    --black-font: rgb(33, 33, 33);
    --red-icon: #ff0000;
    --green-icon: #008000;
    background-color: #ffffff;
}

/*miscellaneous*/

ul>li {
    list-style: none;
}

i {
    color: var(--white-font);
}

h4 {
    font-size: 0.7rem;
    color: var(--white-font);
    display: inline-block;
    padding: 5px;
}

h3, span { 
    color: var(--black-font)
}

span {
    font-size: 0.9rem;
}

img {
    width: 100%;
}

p {
    color: var(--white-font);
    font-size: 1.2rem;
}

/*flex*/

.flex-wrap {
    display: flex;
    flex-flow: row wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-around {
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.flex-space-between {
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.flex-start {
    justify-content: flex-start;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
    align-items: center;
}

/*position*/

.p-fixed {
    position: fixed;
    z-index: 4;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-top-left {
    right: 0;
    top: 10px;
}

.p-down-right {
    left: 0;
    bottom: 40px;
}

.p-total {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.z-index-high {
    z-index: 3;
}

/*header-navbar*/

.banner {
    width: 100%;
    background-color: var(--orange-nav);
    padding: 10px 0 10px 0;
    box-shadow: 0 3px 10px rgba(54, 54, 54, 0.299);
}

#boolando-logo {
    max-width: 100px;
}

.nav-a-layout {
    color: var(--white-font);
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0 5px;
}

.side-nav-widht {
    width: 15%;
}

.icon-layout {
    padding: 0 10px;
}

/*main*/

.main-padding {
    padding: 50px 0 40px 0;
}

.shop-window-wrapper {
    padding: 50px 0 50px 0;
}

.card-wrapper {
    padding: 10px;
    max-width: calc(100% / 3);

}

.card-wrapper:hover {
    box-shadow: -5px 10px 25px rgba(54, 54, 54, 0.299);
}

.prices-layout {
    padding: 5px 5px 5px 0;
}

.favourites-type-a {
    font-size: 1.5rem;
    background-color: var(--white-font);
    padding: 5px 15px;
}

.favourites-type-b {
    opacity: 0;
    font-size: 1.5rem;
    color: var(--red-icon);
    padding: 5px 15px;
}

.favourites-type-b:hover {
    opacity: 1;
}

.prices-card-red {
    background-color: var(--red-icon);
}

.prices-card-green {
    background-color: var(--green-icon);
}

.prices-text-red {
    color: #ff0000 !important;
}

.prices-text-on-sale {
    text-decoration: line-through;
}

.product-infos-layout {
    padding: 5px 0 5px 0;
}

.photo-type-b {
    opacity: 0;
}

.photo-type-b:hover {
    opacity: 1;
}

/*footer*/

.footerbar {
    background-color: var(--black-footer);
    padding: 20px 0;
    box-shadow: 0 -3px 10px rgba(54, 54, 54, 0.299);
}

.footer-a-layout {
    color: var(--white-font);
    font-size: 0.8rem;
    font-weight: 400;
}

.footer-top-font-layout {
    color: var(--white-font);
    padding-bottom: 5px;
}

.footer-boolando-fontsize {
    font-size: 1.1rem;
}

.footer-social-icon-layout {
    padding: 0 10px;
}

.side-footer-widht-type-a {
    width: 33%;
}

.side-footer-widht-type-b {
    width: 10%;
}